.navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: rgb(56, 56, 56);
    transition: .35s;
    padding-top: 0px;
    padding-bottom: 0px;
}
.nav-link {
   font-size: 12px;
   font-weight: bold;
}