<div class="row py-5" id="hero">
  <div class="col-lg-4 col-md-4">
    <div class="hero-text pt-5 hide-on-init " animateOnScroll animationName="animated fadeInLeft">
      <h1 class="heading">For the <span style="color: blue;">fun</span>
        of fit.
      </h1>
      <p class="heading2">At cure.fit, we make holistic health easy for you with fun group classes, healthy meals and accessible primary care all on a single app.</p>
    </div>
  </div>
  <div class="col-lg-8 col-md-8">
    <div class="wrapper pt-5 hide-on-init" oncontextmenu="return false;" animateOnScroll animationName="animated fadeInRight">
      <video autoplay loop muted class="wrapper__video">
        <source src="../../assets/mixkit-woman-doing-yoga-on-a-deck-1053.mp4">
      </video>
    </div>
  </div>
</div>
<!-- yoga -->
<div class="row pt-5">
  <div class="col-sm-12 col-lg-6">
    <h1 class="subheading pb-1 animated-delay-2 hide-on-init"  animateOnScroll animationName="animated fadeInLeft">YOGA</h1>
    <h3 class="subheading2 animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInLeft">Makes fitness fun and easy</h3>
    <p class="animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInLeft">Join our fun group classes created by world-class trainers and athletes.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 py-1">
    <div class="text-right">
      <a class="subheading3 animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInRight">EXPLORE <i class="fas fa-angle-double-right ml-1"></i></a>
    </div>
  </div>
</div>
<div class="row pt-2">
  <div class="col-6 col-sm-6 col-md-6 col-lg-3 pt-3">
    <!-- Card -->
    <div class="card animated-delay-2 hide-on-init " animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-3 pt-3">
    <div class="card animated-delay-2 hide-on-init " animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-3  pt-3">
    <div class="card animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-3 pt-3">
    <div class="card animated-delay-2 hide-on-init " animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- body -->
<div class="row pt-5">
  <div class="col-sm-12 col-lg-6">
    <h1 class="subheading pb-1 animated-delay-2 hide-on-init"  animateOnScroll animationName="animated fadeInLeft">YOGA</h1>
    <h3 class="subheading2 animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInLeft">Makes fitness fun and easy</h3>
    <p class="animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInLeft">Join our fun group classes created by world-class trainers and athletes.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 py-1">
    <div class="text-right">
      <a class="subheading3 animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInRight">EXPLORE <i class="fas fa-angle-double-right ml-1"></i></a>
    </div>
  </div>
</div>
<div class="row pt-3">
  <div class="col-6 col-sm-6 col-md-6 col-lg-3">
    <!-- Card -->
    <div class="card animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-3">
    <div class="card animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-3 pt-3">
    <div class="card animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-3 pt-3">
    <div class="card animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- mind -->
<div class="row pt-5">
  <div class="col-sm-12 col-lg-6">
    <h1 class="subheading pb-1 animated-delay-2 hide-on-init"  animateOnScroll animationName="animated fadeInLeft">YOGA</h1>
    <h3 class="subheading2 animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInLeft">Makes fitness fun and easy</h3>
    <p class="animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInLeft">Join our fun group classes created by world-class trainers and athletes.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 py-1">
    <div class="text-right">
      <a class="subheading3 animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInRight">EXPLORE <i class="fas fa-angle-double-right ml-1"></i></a>
    </div>
  </div>
</div>
<div class="row pt-3">
  <div class="col-6 col-sm-6 col-md-6 col-lg-3">
    <!-- Card -->
    <div class="card animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-3">
    <div class="card animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-3 pt-3">
    <div class="card animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-6 col-sm-6 col-md-6 col-lg-3 pt-3">
    <div class="card animated-delay-2 hide-on-init" animateOnScroll animationName="animated fadeInUp">
      <!-- Card image -->
      <div class="view overlay">
        <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/food.jpg" alt="Card image cap">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
  </div>
</div>
